# Dependencies
node_modules/
backend/node_modules/
mobile/node_modules/
web/node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Build Outputs
build/
dist/
coverage/
web/build/

# Expo
.expo/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime Data
pids/
*.pid
*.seed
*.pid.lock

# Coverage
.nyc_output/
*.lcov

# TypeScript
*.tsbuildinfo

# Cache
.cache/
.parcel-cache/
.vite/
.npm/
.eslintcache
.stylelintcache

# Package Managers
.pnpm-store/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Frameworks
.next/
out/
.nuxt/
.output/
.svelte-kit/
.docusaurus/
.serverless/

# Firebase
.firebase/

# VS Code
.vscode-test/

# Operating System Files
.DS_Store
Thumbs.db

# Misc
.node_repl_history
*.tgz