body {
  margin: 0;
  font-family: Arial;
  background: #f1f5f9;
}

button {
  padding: 8px 15px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
}

input, select {
  padding: 8px;
  width: 100%;
}